# Default ignored files
/shelf/
/workspace.xml
.settings/
.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Archivos y directorios de Maven
target/               # Directorio generado por Maven
*.log                 # Archivos de log generados
*.tmp                 # Archivos temporales

# Archivos de configuración
persistence.xml
# Archivos de configuración de la base de datos
*.sql
# Excluir archivo persistence.xml
/src/main/resources/META-INF/persistence.xml